{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}

<style>
    .s-btn:hover {
        background-color: rgb(255, 171, 210, 0.8) !important;
    }
</style>

<div class="d-flex justify-content-center">
    <div class="d-flex" style="margin-top: 3rem; flex-direction: column; align-content: center; width: 70vh;">
        <div class="text-center mb-4">
            <h1 style="font-family: disney; font-size: 50px;">Let's Go!</h1>
        </div>
        <form action="" method="POST" style="font-family: basic;">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center" style="margin-top: 2rem;">
                <input class="btn btn-primary s-btn" type="submit"
                    style="background-color: rgb(255, 197, 224, 0.8); border-style: none;" value="🏰 로그인">
            </div>
        </form>
    </div>
</div>
{% endblock %}