{% extends 'base.html' %}
{% block content %}
<style>
    .t-btn:hover {
        background-color: rgb(56, 126, 178, 0.8) !important;
    }

    .l-btn:hover {
        background-color: rgb(255, 171, 210, 0.8) !important;
    }
</style>


<div class="d-flex justify-content-center mt-4">
    <video style="height: 55vh" autoplay controls loop muted src="/static/la.mp4"></video>
    <br>
</div>
<h1 class="text-center mt-2" style="font-family: disney; font-size: 100px; color: dimgrey;">Los Angeles Disneyland
</h1>
<hr style="width: 1270px; margin-left: 70px;">
<div class="d-flex"
    style="margin-top: 60px; margin-bottom: 60px; justify-content: space-between; margin-left: 70px; margin-right: 70px;">
    <article>
        <h1 style="font-family: 'welcome';">디즈니랜드의 원조! LA 디즈니랜드</h1>
        <p style="font-family: 'basic';">새롭게 맞이하는 50주년를 맞아 디즈니랜드가 새 단장을 합니다! <br> 지구 상에서 가장 즐거운 장소! 환상의 세계를 경험해보세요.</p>
        <div class="d-flex">
            <embed src="/static/index1.gif" type="">
            <embed src="/static/index2.gif" type="">
            <embed src="/static/index3.gif" type="">
            <embed src="/static/index4.gif" type="">
        </div>

    </article>
    <aside>
        <div class="text-center" style="margin-top: 10rem; width: 320px; height: 257px; box-shadow:0 0 20px rgb(0 0 0 / 5%); border-radius: 10px; background-color: 	
            rgb(255,255,255, 0.6);">
            <div>
                <div
                    style="padding-top: 20px; padding-bottom: 20px; font-family: rabbit; font-size: 40px; color: dimgray;">
                    1Day 티켓
                </div>
            </div>
            <div>
                <a class="btn btn-primary mb-3 t-btn"
                    style="background-color: rgb(67, 158, 225, 0.8); border-style: none; width: 272px; height: 48px; font-family: welcome;"
                    href=""><i class="bi bi-ticket-perforated"></i> <span class="fs-5"> 티켓
                        예매</span></a>
            </div>
            <div>
                <a class="btn btn-primary l-btn"
                    style="background-color: rgb(255, 197, 224, 0.8); border-style: none; width: 272px; height: 48px; font-family: 'welcome';"
                    href=""><i class="bi bi-heart"></i> <span class="fs-5"> 찜하기</span></a>
            </div>
        </div>
    </aside>
</div>
<hr style="width: 1270px; margin-left: 70px;">
<div style="margin-top: 40px; margin-bottom: 40px; margin-left: 70px; margin-right: 70px;">
    <h1 style="font-family: 'welcome';">여행자 후기 사진</h1>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex mb-0 mt-3" style="justify-content: flex-end;">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous"
                    style="color: rgb(67, 158, 225, 0.8); border-color: rgb(67, 158, 225, 0.8);">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                    style="color: rgb(67, 158, 225, 0.8); border-color: rgb(67, 158, 225, 0.8);">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page_number in posts.paginator.page_range %}
            <li class="page-item active" aria-current="page">
                <a class="page-link"
                    style="padding-top: 10px; padding-bottom: 6.4px; font-size: 13.2px; background-color: white; border-color: rgb(67, 158, 225, 0.8); color: rgb(67, 158, 225, 0.8); font-family: welcome;"
                    href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endfor %}
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next"
                    style="color: rgb(67, 158, 225, 0.8); border-color: rgb(67, 158, 225, 0.8);">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                    style="color: rgb(67, 158, 225, 0.8); border-color: rgb(67, 158, 225, 0.8);">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="d-flex" style="margin-top: 30px; justify-content: space-evenly;">
        {% for review in posts %}
        {% if review.image %}
        <div><img style="width: 330px; height: 230px; border-radius: 8px;" src="{{ review.image.url }}" alt="">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<hr style="width: 1270px; margin-left: 70px;">
<div style="margin-top: 40px; margin-bottom: 40px; margin-left: 70px; margin-right: 70px;">
    {% if reviews %}
    <h1 style="font-family: 'welcome';">후기 <span style="color: goldenrod;">{{ reviews.count }}</span></h1>
    {% else %}
    <h1 style="font-family: 'welcome';">후기 <span style="color: goldenrod;">0</span></h1>
    {% endif %}
    <div class="d-flex mb-4" style="justify-content: center;">
        <div class="d-flex text-center justify-content-center me-3"
            style="flex-direction: column; border-radius: 10px; height: 165px; width: 217px; background-color: rgb(245, 245, 245, 0.8)">
            {% if reviews %}
            <p style="margin-bottom: 0px; font-family: welcome; font-size: 3rem;">{{ grade }}</p>
            {% else %}
            <p style="margin-bottom: 0px; font-family: welcome; font-size: 3rem;">0.0</p>
            {% endif %}
            <div style="font-size: 1.4rem;">
                {% if grade == 5 %}
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                {% elif grade >= 4.5 and grade < 5 %} <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                    {% elif grade >= 4 and grade < 4.5 %} <i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        {% elif grade >= 3.5 and grade < 4 %} <i class="bi bi-star-fill"></i><i
                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                class="bi bi-star-half"></i>
                            {% elif grade >= 3 and grade < 3.5 %} <i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                {% elif grade >= 2.5 and grade < 3 %} <i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    {% elif grade >= 2 and grade < 2.5 %} <i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                        {% elif grade >= 1.5 and grade < 2 %} <i class="bi bi-star-fill">
                                            </i><i class="bi bi-star-half"></i>
                                            {% else %}
                                            <i class="bi bi-star-fill"></i>
                                            {% endif %}

            </div>
        </div>
        <div class="d-flex text-center justify-content-center"
            style="flex-direction: column; border-radius: 10px; height: 165px; width: 387px; background-color: rgb(245, 245, 245, 0.8)">
            <p style="font-family: basic; font-size: 1.2rem; margin-top: 1.3rem;"><i class="bi bi-people-fill"></i> 친구들과
                가는 여행</p>
            <p style="font-family: basic; font-size: 1.2rem;"><i class="bi bi-person-hearts"></i> 자녀와 함께 가는 여행</p>
        </div>
    </div>
    <div>
        <div style="margin-top: 3rem;">
            {% for review in reviews %}
            <div class="d-flex">
                {% if review.grade == 1 %}
                <div style="color: lightskyblue; font-size: 1.2rem;"><i class="bi bi-star-fill"></i></div>
                {% elif review.grade == 2 %}
                <div style="color: lightskyblue; font-size: 1.2rem;"><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i></div>
                {% elif review.grade == 3 %}
                <div style="color: lightskyblue; font-size: 1.2rem;"><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                {% elif review.grade == 4 %}
                <div style="color: lightskyblue; font-size: 1.2rem;"><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                {% else %}
                <div style="color: lightskyblue; font-size: 1.2rem;"><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i></div>
                {% endif %}

                <div style="font-family: basic; margin-left: 10px; margin-top: 7px;">{{ review.user.username }}</div>
            </div>
            <div style="font-family: welcome; color: lightgrey; font-size: 14px; margin-top: 5px;">
                방문일 : {{review.visited_at|date:"Y-m-d"}}　작성일 : {{ review.created_at|date:"Y-m-d H:m:s" }}
            </div>
        </div>
        <div style="font-family: basic; margin-top: 20px; font-size: 1.2rem;">{{ review.content }}</div>
        {% if user.is_authenticated and review.user == request.user %}
        <div>
            <a class="btn btn-outline-warning fw-bold" style="margin-top: 10px; font-family: basic; font-size: 14px;"
                href="{% url 'articles:update' review.pk %}">수정</a>
            <a class="btn btn-outline-danger fw-bold" style="margin-top: 10px; font-family: basic; font-size: 14px;"
                href="{% url 'articles:delete' review.pk %}">삭제</a>
        </div>
        {% endif %}
        <hr style="width: 1270px;">
        {% empty %}
        <h2 style="font-family: 'welcome';">작성된 후기가 없습니다😭</h1>
            {% endfor %}
    </div>
</div>
{% endblock %}