{% extends 'base.html' %}
{% block content %}
<style>
    .t-btn:hover {
        background-color: rgb(56, 126, 178, 0.8) !important;
    }

    .l-btn:hover {
        background-color: rgb(255, 171, 210, 0.8) !important;
    }
</style>


<div class="d-flex justify-content-center mt-4">
    <video style="height: 55vh" autoplay controls loop muted src="/static/tokyo.mp4"></video>
    <br>
</div>
<h1 class="text-center mt-2" style="font-family: disney; font-size: 100px; color: dimgrey;">Tokyo Disneyland
</h1>
<hr style="width: 1270px; margin-left: 70px;">
<div class="d-flex"
    style="margin-top: 60px; margin-bottom: 60px; justify-content: space-between; margin-left: 70px; margin-right: 70px;">
    <article>
        <h1 style="font-family: 'welcome';">처음 만나는 Tokyo 디즈니랜드</h1>
        <p style="font-family: 'basic';">아이들과 함께 꿈과 환상으로 동심의 세계로 떠나볼까요? <br> 40주년을 맞이한 도쿄 디즈니랜드에서 어릴 적 즐거웠던 기억을 찾아보세요.
        </p>
        <div class="d-flex" style="flex-direction: column;">
            <div class="d-flex" style="margin-bottom: 10px;">
                <img src="/static/t2.png" alt="" style="border-radius: 5px; margin-right: 10px;">
                <img src="/static/t1.png" alt="" style="border-radius: 5px;">
            </div>
            <div class="d-flex">
                <img src="/static/t3.png" alt="" style="border-radius: 5px; margin-right: 10px;">
                <img src="/static/t4.png" alt="" style="border-radius: 5px;">
            </div>
        </div>

    </article>
    <aside>
        <div class="text-center" style="margin-top: 10rem; width: 320px; height: 257px; box-shadow:0 0 20px rgb(0 0 0 / 5%); border-radius: 10px; background-color: 	
            rgb(255,255,255, 0.6);">
            <div>
                <div
                    style="padding-top: 20px; padding-bottom: 20px; font-family: rabbit; font-size: 40px; color: dimgray;">
                    1Day 티켓
                </div>
            </div>
            <div>
                <a class="btn btn-primary mb-3 t-btn"
                    style="background-color: rgb(67, 158, 225, 0.8); border-style: none; width: 272px; height: 48px; font-family: welcome;"
                    href=""><i class="bi bi-ticket-perforated"></i> <span class="fs-5"> 티켓
                        예매</span></a>
            </div>
            <div>
                <a class="btn btn-primary l-btn"
                    style="background-color: rgb(255, 197, 224, 0.8); border-style: none; width: 272px; height: 48px; font-family: 'welcome';"
                    href=""><i class="bi bi-heart"></i> <span class="fs-5"> 찜하기</span></a>
            </div>
        </div>
    </aside>
</div>
<hr style="width: 1270px; margin-left: 70px;">
<div style="margin-top: 40px; margin-bottom: 40px; margin-left: 70px; margin-right: 70px;">
    <h1 style="font-family: 'welcome';">여행자 후기 사진</h1>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex" style="justify-content: flex-end;">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" style="color: rgb(67, 158, 225, 0.8);">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link " href="#"
                    style="padding-top: 10px; font-size: 13.2px; color: rgb(67, 158, 225, 0.8); font-family: welcome;">1</a>
            </li>
            <li class="page-item"><a class="page-link " href="#"
                    style="padding-top: 10px; font-size: 13.2px; color: rgb(67, 158, 225, 0.8); font-family: welcome;">2</a>
            </li>
            <li class="page-item"><a class="page-link " href="#"
                    style="padding-top: 10px; font-size: 13.2px; color: rgb(67, 158, 225, 0.8); font-family: welcome;">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true" style="color: rgb(67, 158, 225, 0.8);">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="d-flex" style="margin-top: 30px; justify-content: space-evenly;">
        <div><img style="width: 330px; height: 230px; border-radius: 8px;"
                src="https://cdn.getyourguide.com/img/tour/624bf4ddc7bc0.jpeg/146.jpg" alt="">
        </div>
        <div><img style="width: 330px; height: 230px; border-radius: 8px;"
                src="https://cdn.getyourguide.com/img/tour/624bf4ddc7bc0.jpeg/146.jpg" alt="">
        </div>
        <div><img style="width: 330px; height: 230px; border-radius: 8px;"
                src="https://cdn.getyourguide.com/img/tour/624bf4ddc7bc0.jpeg/146.jpg" alt="">
        </div>
    </div>
</div>
<hr style="width: 1270px; margin-left: 70px;">
<div style="margin-top: 40px; margin-bottom: 40px; margin-left: 70px; margin-right: 70px;">
    <h1 style="font-family: 'welcome';">후기 <span style="color: goldenrod;">24</span></h1>
    <div class="d-flex mb-4" style="justify-content: center;">
        <div class="d-flex text-center justify-content-center me-3"
            style="flex-direction: column; border-radius: 10px; height: 165px; width: 217px; background-color: rgb(245, 245, 245, 0.8)">
            <p style="margin-bottom: 0px; font-family: welcome; font-size: 3rem;">5.0</p>
            <div style="font-size: 1.4rem;">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="d-flex text-center justify-content-center"
            style="flex-direction: column; border-radius: 10px; height: 165px; width: 387px; background-color: rgb(245, 245, 245, 0.8)">
            <p style="font-family: basic; font-size: 1.2rem; margin-top: 1.3rem;"><i class="bi bi-people-fill"></i> 친구들과
                가는 여행</p>
            <p style="font-family: basic; font-size: 1.2rem;"><i class="bi bi-person-hearts"></i> 자녀와 함께 가는 여행</p>
        </div>
    </div>
    <div>
        <div style="margin-top: 3rem;">
            <div class="d-flex">
                <div style="color: lightskyblue; font-size: 1.2rem;"><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i></div>
                <div style="font-family: basic; margin-left: 10px; margin-top: 7px;">작성자</div>
            </div>
            <div style="font-family: welcome; color: lightgrey; font-size: 14px; margin-top: 5px;">2022-11-11</div>
        </div>
        <div style="font-family: basic; margin-top: 20px; font-size: 1.2rem;">
            디즈니랜드 가신다면 어드밴처랑 파크 두 곳 다 이용할 수 있는 입장권 사는걸 추천드립니다~ 왜냐면 어드밴처 쪽은 일찍 문을 닫거든요! (2022년10월기준) 어드밴처 먼저 갔다가 파크로 넘어가서
            신나게 놀고 왔습니다. 기구는 둘 다 재밌어요~ 그리구 디즈니랜드 어플 까셔서 로그인하고 여기서 구매한 티켓 따로 등록하셔야 입장가능해요!~
        </div>
        <div>
            <a class="btn btn-outline-warning fw-bold" style="margin-top: 10px; font-family: basic; font-size: 14px;"
                href="">수정</a>
            <a class="btn btn-outline-danger fw-bold" style="margin-top: 10px; font-family: basic; font-size: 14px;"
                href="">삭제</a>
        </div>
        <hr style="width: 1270px;">
    </div>
</div>
{% endblock %}